.side-bar {
  border: none;
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  width: 230px;
  font-size: 14px;
  font-weight: 500;
  overflow: auto;
}

.side-bar::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.side-bar-flex {
  display: flex;
  flex-direction: column;

  margin-top: 10px;
  margin-left: 10px;
  margin-right: 2px;
  height: 570px;
}

.general-section {
  display: flex;
  flex-direction: column;
  height: 170px;
  width: 100%;
  border-bottom: 1px solid rgb(57, 57, 57);
}

.general-button-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 12px;
  margin-bottom: 20px;
}

.side-bar-button,
.side-bar-shorts-button,
.side-bar-subscriptions-button,
.side-bar-you-button {
  display: flex;
  flex-direction: row;
  height: 41px;
  border-radius: 8px;
  align-items: center;
  position: relative;
}

.side-bar-button:hover,
.side-bar-you-button:hover {
  background-color: rgb(39, 39, 39);
}

.side-bar-home-button {
  display: flex;
  flex-direction: row;
  height: 41px;
  border-radius: 8px;
  align-items: center;
  background-color: rgb(39, 39, 39);
  position: relative;
}

.side-bar-home-button:hover {
  background-color: rgb(61, 61, 61);
}

.button-icon-container {
  display: flex;
  width: 65px;
  height: 100%;
  align-items: center;
}

.home-icon {
  width: 22px;
  padding-left: 18px;
}

.shorts-icon {
  width: 20px;
  padding-left: 18px;
}

.subscriptions-icon {
  width: 22px;
  padding-left: 16px;
}

.button-text {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.you-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 264px;
  border-bottom: 1px solid rgb(57, 57, 57);
}

.you-button-container {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  height: 100%;
  margin-right: 12px;
  margin-bottom: 10px;
}

.you-text {
  display: flex;
  font-weight: 500;
  color: white;
  padding-left: 13px;
}

.greater-than-icon {
  height: 15px;
  padding-left: 8px;
}
.youtube-music-icon {
  width: 26px;
  margin-left: 13px;
  filter: invert(100%);
}
.your-channel-icon,
.history-icon,
.liked-videos-icon,
.gaming-icon {
  width: 22px;
  padding-left: 16px;
}

.your-videos-icon,
.watch-later-icon {
  width: 20px;
  padding-left: 16px;
}

.trending-icon,
.music-icon {
  width: 16px;
  padding-left: 16px;
}

.explore-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 170px;
  border-bottom: 1px solid rgb(57, 57, 57);
}

.explore-button-container {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  height: 100%;
  margin-right: 12px;
  margin-bottom: 6px;
}

.explore-text {
  display: flex;
  height: 24px;
  font-weight: 500;
  color: white;
  padding-left: 13px;
  margin-top: 11.5px;
  margin-bottom: 11.5px;
}

.explore-button {
  display: flex;
  flex-direction: column;
  height: 100%;
}
