<header class="top-bar">
  <div class="left-section">
    <button class="menu-button">
      <img class="menu-icon" [src]="menuIconUrl" />
    </button>
    <div class="youtube-logo-container">
      <img class="youtube-logo" [src]="youtubeLogoUrl" />
    </div>
  </div>

  <div class="middle-section">
    <input class="search-bar" type="search" placeholder="Search" />
    <button class="search-button">
      <img class="search-icon" [src]="searchIconUrl" />
    </button>
    <button class="voice-search-button">
      <img class="voice-search-icon" [src]="voiceSearchIconUrl" />
    </button>
  </div>

  <div class="right-section">
    <button class="upload-button">
      <img class="upload-icon" [src]="uploadIconUrl" />
    </button>
    <button class="notifications-button">
      <img class="notifications-icon" [src]="notificationsIconUrl" />
      <div class="notifications-count">{{ notificationsCount }}</div>
    </button>

    <button class="profile-button" (click)="toggleSettingsMenu()">
      <img class="profile-icon" [src]="profileIconUrl" />
    </button>
  </div>


  <div class="settings-menu {{ settingsMenuOpen ? 'settings-menu-height' : ' '}}">
    <div class="settings-menu-inner">
        <div class="user-profile">
            <img
                src="assets/icons/use.jpg">
            <div>
                <p>Siddhi</p>
                <p>See your profile</p>
            </div>
        </div>
        <hr>
        <div class="settings-links">
            <img src="assets/icons/setting.png" class="settings-icon">
            <a href ="#" routerLink="settings">Settings & Privacy </a>
        </div>

      <div class="settings-links">
        <img src="assets/icons/google.png" class="google-icon">
        <a href="#">Google Account</a>
    </div>


        <div class="settings-links">
            <img src="assets/icons/logout.png" class="logout-icon">
            <a href="#">Sign Out</a>
        </div>
    </div>
</div>

</header>
