<!-- Custom components for top and side bars -->
<app-top-bar></app-top-bar>
<app-side-bar></app-side-bar>

<!-- Main container for content -->
<div class="container">

  <!-- Section for account information -->
  <div class="section">
    <!-- Heading for account section -->
    <h2 style="color: white;">Account</h2>

    <!-- Paragraph with account details and instructions -->
    <p style="color: white; font-size: 24px;">Choose how you appear and what you see on YouTube<br> Signed in as</p>

    <!-- Additional line indicating signed-in status -->
    <p style="color: rgb(218, 208, 208);">Signed in as</p>

    <!-- Displaying the signed-in user's email with bold styling -->
    <span style="font-weight: bold; color: rgb(255, 255, 255);">siddhiwadetiwar&#64;gmail.com</span>
  </div>

  <!-- Section for YouTube channel information -->
  <div class="section">
    <!-- Heading for YouTube channel section -->
    <h2 style="color: white;">Your YouTube channel</h2>

    <!-- Paragraph providing information about the YouTube channel -->
    <p style="color: white;"> This is your public presence on YouTube. You need a channel to upload your own videos, comment on videos, or create playlists.</p>
  </div>

  <!-- Section for general account information -->
  <div class="section">
    <!-- Heading for account section -->
    <h2 style="color: white;">Your account</h2>

    <!-- Paragraph providing information about signing in with Google Account -->
    <p style="color: white;">You sign in to YouTube with your Google Account</p>
  </div>

  <!-- Section for Google Account information -->
  <div class="section">
    <!-- Heading for Google Account section -->
    <h2 style="color: white;">Google Account</h2>

    <!-- Displaying the user's name with bold styling -->
    <span style="font-weight: bold; color: white;">Siddhi Wadetiwar</span>
  </div>

  <!-- Section for channel status and features -->
  <div class="section">
    <!-- Heading for channel status and features section -->
    <h2 style="color: white;">Channel status and features</h2>

    <!-- Paragraphs with options related to channel settings -->
    <p style="color: white;">Create a new channel<br></p>
    <p style="color: white;">View advanced settings<br></p>
    <p style="color: white;">View or change your Google Account settings</p>
  </div>

</div>
