<app-top-bar></app-top-bar>
<app-side-bar></app-side-bar>

<div class="container">
  <div class="section">
    <h2 style="color: white;">Account</h2>
    <p style="color: white;font-size:24px;">Choose how you appear and what you see on YouTube<br> Signed in as</p>
    <p style="color: rgb(218, 208, 208);">Signed in as</p>
     <span style="font-weight: bold; color:rgb(255, 255, 255);">siddhiwadetiwar&#64;gmail.com</span>
  </div>
  <div class="section">
    <h2 style="color: white;">Your YouTube channel</h2>
    <p style="color: white;"> This your public presence on YouTube. You need a channel to upload your own videos, comment on videos, or create playlists.</p>
  </div>
  <div class="section">
    <h2 style="color: white;">Your account</h2>
    <p style="color: white;">You sign in to YouTube with your Google Account</p>
  </div>
  <div class="section">
    <h2 style="color: white;">Google Account</h2>
    <span style="font-weight: bold; color:white;">Siddhi Wadetiwar</span>
  </div>
  <div class="section">
    <h2 style="color: white;">Channel status and features</h2>
    <p style="color: white;">Create a new channel<br></p>
    <p style="color: white;">View advanced settings<br></p>
    <p style="color: white;">View or change your Google Account settings</p>
  </div>
</div>
